{%  extends 'core/acceso.html' %}
{% load static %}
{% block contenido %}

<div class="wrapper">
    <div class="text-center mt-4 name">
        <br>

        <div align="center">
            <img src= "{% static "img/logo_1.jpg" %}" alt="" id="logo" width="200px" >
        </div>
        <br>

        <h2>Ingrese a su cuenta</h2>
    </div>
    <div class="text-center">
    <form class="p-3 mt-3 bg" method="post" id="dataA">
        {% csrf_token %}
        {{ form }}

        <input type="submit" value="Ingresar">
        
    </form>
    </div>
    <div class="text-center fs-6">       
    </div>
    <br>
    <center><a href="{% url 'index' %}" class="btn btn-primary" > Volver a página principal </a></center>
    
</div>

    

  {% endblock%} 