{% extends 'core/base.html' %}
{% block  contenido %}
{% load static %}

         <!--buscar cliente-->
         <br><br><br>
         <div class="d-flex justify-content-center"> 
            <h2>Información clientes activos</h2>
          </div>
          <br>
     
 <div class="row">
    <div class="col-md-12">       
    <div class="card"> 
    <div class="card-body">
    <table class="table table-striped table-bordered border-dark" style="background-color: rgb(172, 213, 199);">
               
        <tr>
            <td>Rut</td>            
            <td>Nombre completo</td>
            <td>Teléfono</td>
            <td>Correo </td>
            <td>Dirección</td>
            <td>Comuna</td> 
            <td>Opciones</td>                                            
        </tr>
    
        {% for p in clientes %}

        <tr>
            <td>{{ p.rut}}-{{ p.dv }}</td>            
            <td>{{ p.nombres }}</td>
            <td>{{ p.phone }}</td>
            <td>{{ p.mail}}</td>
            <td>{{ p.direccion}}</td>
            <td>{{ p.comuna}}</td>   
            <td> <a href="{% url 'modificarCliente' p.id %}" class="btn btn-primary btn-sm">Modificar</a></td>
        </tr>
                
        {% endfor %} 
    </table>
    </div>
    </div>  
    </div>
    </div>  
    <br><br><br><br><br><br>
    <br><br><br><br><br><br>

{% endblock %}