{% extends 'core/base.html' %}
{% block contenido %}
{% load static %}

<br><br><br>
<div class="d-flex justify-content-center">
    <h2>Información Funcionarios</h2>
</div>
<br>

<div class="container">
    <div class="row row-cols-3">
        {% for f in funcionarios %}
        <div class="col">
            <div class="card destacado text-start mb-3" style="width: 18rem;">
                <div class="card-body" style="background-color: rgb(187, 217, 217);">
                    {% if f.imagen %}
                    <img src="{{ f.imagen.url }}" alt="..." class="img-thumbnail img-huesped">
                    {% else %}
                    <div>imagen no disponible</div>
                    {% endif %}
                    &nbsp;
                    <h5>{{ f.persona.nombres }} {{ f.persona.apellidos }}</h5>
                    <li>Cargo: {{ f.cargo}}</li>
                    <li>Profesión: {{ f.profesion }}</li>
                    <li>Correo: {{ f.mail_insti }}</li>
                    <li>Sucursal: {{ f.sucur }}</li>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<br><br><br><br><br><br>
<br><br><br><br><br><br>

{% endblock %}
