{% extends 'core/base.html' %}
{% block  contenido %}
{% load static %}

         <!--buscar cliente-->
         <br><br><br>
           <div class="d-flex justify-content-center"> 
              <h2>Información vacunas</h2>
            </div>
            <br>

            <div class="row">
              <div class="col-md-12">       
              <div class="card"> 
              <div class="card-body">
              <table class="table table-striped table-bordered border-dark" style="background-color: rgb(172, 213, 199);">
                        
                  <tr>
                      <td>Detalle</td>            
                      <td>¿Tiene vacunas pendientes?</td>
                      <td>Mascota</td>
                      <td>Opciones</td>                                        
                  </tr>
              
                  {% for v in Vacunas %}
          
                  <tr>
                      <td>{{ v.descrip_vac }}</td>            
                        <td>
                          {% if v.pendientes == 1 %}
                            Si
                          {% else %}
                            No <!--ARREGLAR ESTE IF-->
                          {% endif %}
                          </td>
                      </td>
                      <td>{{ v.mascota }}</td>
                      <td> <a href="{% url 'modificarVacuna' v.id %}" class="btn btn-primary btn-sm">Modificar</a></td>
                  </tr>
                          
                  {% endfor %} 
              </table>
              </div>
              </div>  
              </div>
              </div> 
         
            <br><br><br><br><br><br>
     


{% endblock %}