{% extends 'core/base2.html' %}
{% block  contenido %}
{% load static %}
      <br><br><br>

<center>
    <div>
        <H1>Conoce nuestras tarifas</H1>
    </div>
</center>

         <br>
         
    <div class="row">
        <center>
        <div class="card" style="max-width: 80rem";>
        <div class="card-body">
            <table class="table table-striped table-bordered border-dark" style="background-color:  rgb(187, 217, 217);">
            <tr>
               <td><strong>Tarifa</strong></td>
                <td><strong>Valor</strong></td>
            </tr>
                {% for t in tarifas %}
                    <tr>
                    <td>{{ t.detalle }} </td>
                    <td>$ {{ t.valor }} </td>
                    </tr>
                {% endfor %} 
            </table>
        </center>
            </div>
            </div> 

            <br><br><br><br><br><br><br><br><br><br><br><br>
        

{% endblock %}