{% extends 'core/base.html' %}
{% block  contenido %}
{% load static %}
{% load crispy_forms_tags %}

        <p></p>    
        <br><br><br>
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="card" style="background-color: rgb(187, 217, 217);">
          <div class="card-body">
                  
            <h2 class="d-flex justify-content-center">Ingrese nueva reserva</h2>
            <br>

            <form action="" class="formulario_contacto" method="post">
            {% csrf_token %}

            {{form | crispy }}

            <h6 class="d-flex justify-content-left"> *Campos obligatorios </h6>
            <div class="d-flex justify-content-center">
            &nbsp; &nbsp;
          
             <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
      </div>
    </div>


  </div>
</div>

<div class="contenido">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {% if messages %}
     {% for r in messages %}
      <script>
        Swal.fire({
          "title":"¡Reserva ingresada!",
          "text": "{{r}}",
          "icon": "success"
        })
      </script>

      {% endfor %}
{% endif %}   
</div>

        <br>

        




        
      

{% endblock %}