{% extends 'core/base.html' %}
{% block  contenido %}
{% load static %}
        <br><br><br>
        <center>
        <div>
          
           <h2>Cálculo de tarifas</h2>
           <br>          
        </div>
        </center>

        <div class="row">
          <div class="d-flex justify-content-center"> 
            <div class="card">
              <div class="card-body" style="background-color:  rgb(187, 217, 217);">
                {% if error %}
                  <div class="alert alert-danger">{{ error }}</div>
                {% endif %}
                <form method="post" action="{% url 'calcular_tarifa' %}">
                    {% csrf_token %}
                    <label for="tarifa">Seleccione tarifa:</label>
                    &nbsp;
                    <select name="tarifa" id="tarifa">
                     
                      {% for tarifa in tarifas %}
                      <option value="{{ tarifa.id }}">{{ tarifa.detalle }} - $  {{ tarifa.valor }} </option>
                      {% endfor %}
                    </select>
                   <br><br><br>
                    <label for="numero">Ingresar cantidad de días/semanas:</label>
                    <input type="number" name="numero" id="numero">
                    <br><br>
                    <input type="submit" class="btn btn-primary" value="Calcular">
                  </form>
              </div>
            </div>           
          </div>
        </div>

        <div class="contenido">
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
          {% if messages %}
             {% for e in messages %}
              <script>
                Swal.fire({
                  "title":"¡Creo que está vacío por aquí!",
                  "text": "{{e}}",
                  "icon": "warning"
                })
              </script>
  
              {% endfor %}
        {% endif %}   
        </div>

      

        <br><br><br><br><br><br><br><br><br><br><br><br>

   
        
       
{% endblock %}